// Styling for the portfolio section
// Styling for the services section image
.portfolio-image {
  display: block; // Makes the image a block-level element, enabling margin auto to work
  max-width: 100%; // Ensures the image is responsive and fits within its container
  height: auto; // Maintains the aspect ratio of the image
  margin-top: 20px; // Adds some space above the image, adjust as needed
  margin-left: auto; // Centers the image horizontally
  margin-right: auto; // Centers the image horizontally
}
// Styling for the services section image with shadow
.portfolio-image {
  max-width: 100%; // Ensures the image is responsive and fits within its container
  height: auto; // Maintains the aspect ratio of the image
  margin-top: 20px; // Adds some space above the image, adjust as needed
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Adds shadow around the image
}