// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
// Styling for the services section image
.service-image {
  max-width: 100%; // Ensures the image is responsive and fits within its container
  height: auto; // Maintains the aspect ratio of the image
  margin-top: 20px; // Adds some space above the image, adjust as needed
}
// Styling for the services section image with shadow
.service-image {
  max-width: 100%; // Ensures the image is responsive and fits within its container
  height: auto; // Maintains the aspect ratio of the image
  margin-top: 20px; // Adds some space above the image, adjust as needed
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Adds shadow around the image
}